html {
    height: 100%;
}

body {
    padding-top: 60px;
    /*background-color: #444444;*/
    /*height: 100%;*/
}

#logo {
    padding-top: 40px;
    padding-bottom: 50px;
}

#logo img {
    width: 450px;
}

.container {
    width: 700px;
    text-align: center;
}

.modal-dialog {
    width: 550px;
}

.navbar-fixed-top .container {
    width: 700px;
}

#students {
    border-radius: 5px;
    margin-bottom: 10px;
}

#students th {
    text-align: center;
}

#students caption {
    padding-bottom: 20px;
}

#students img {
    width: 20px;
}

#students-buttons img {
    width: 48px;
}

#students-buttons {
    /*width: 30px;*/
    /*padding-top: 10px;*/
    text-align: right;
}

.container-students-edit {
    width: 500px;
    text-align: right;
}

.container-students-edit h2 {
    padding-bottom: 40px;
    text-align: center;
}

/*.container-students-edit .validation-message {*/
/*font-size: 10px;*/
/*text-align: right;*/
/*margin-top: -12px;*/
/*margin-bottom: 5px;*/
/*}*/

/*.container-students-edit .error {*/
/*color: firebrick;*/
/*}*/

/*.container-students-edit .success {*/
/*color: forestgreen;*/
/*}*/

.container-students-edit .buttons {
    padding-top: 20px;
    text-align: right;
}

option {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
